// COLORS
$color-primary: #7ed56f;
$color-primary-light: #0fe757;
$color-primary-dark: #07cc8a;

$color-grey-light-1: #f7f7f7f7;

$color-gray-dark: #777;
$color-black: #000;
$color-white: #fff;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONTS SIZES
$default-font-size: 1.6rem;